body{
    padding: 0;
    margin: 0;
    background: rgba(199,238,255,1);
}

#container{
    height: 900px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: rgb(122,195,143);
background: linear-gradient(180deg, rgba(122,195,143,1) 16%, rgba(199,238,255,1) 51%);

}

#haslo{
    height: 70px; /* 80px bez paddingu */
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #7ac38f;
    text-align: center;
    padding-top: 10px;

}
#haslo h1{
    padding: 0px;
    margin: 0px;
    font-size: 300%;
    letter-spacing: 5px;
    font-family: 'Source Code Pro', monospace;

}

#wisielec{
    height: 520px;
    width: 40%;
    float: left;
    margin-left: 20%;
    background: rgb(122,195,143);
background: linear-gradient(180deg, rgba(122,195,143,1) 30%, rgba(177,233,163,1) 62%); /* kolor do zmiany na none rgb(243, 174, 89)*/
    
}


#wisielec img{
    float: left;
    width: 70%;
    height: 520px;
    
}

#odgadywanie{
    height: 520px; 
    width: 20%;
    float: left;
    background: rgb(122,195,143);
background: linear-gradient(180deg, rgba(122,195,143,1) 30%, rgba(177,233,163,1) 62%); /* kolor do zmiany na none*/
    text-align: center;
    border-left: 1px solid rgb(112, 75, 30);

}

.zgadywanie{
    height: 50%;
    width: 100%;
    float: left;

}

.zgadywanie h1{
    margin-top: 20%;

}


#divPunkty{
    height: 100px;
    width: 100px;
    float: right;
    border-left: 1px solid rgb(112, 75, 30);
    border-bottom: 1px solid rgb(112, 75, 30);
    border-top: 1px solid rgb(112, 75, 30);
    border-radius: 20px 0 0 20px;
    text-align: center;
    font-size: 140%;
    font-weight: bolder;

}

#gra{
    position: relative;
}

#wynikik{
    position: absolute;
    background-color: rgb(255, 230, 0);
    height: 520px;
    width: 99.9%;
    text-align: center;
    visibility: hidden;
    display: block;
}

#wynik_koncowy{
    font-size: 500%;
    padding: 0px;
    margin: 0px;
    letter-spacing: 5px;
    font-family: 'Source Code Pro', monospace;

}

/* Animacja */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}

/* */
@keyframes wysuwanie
{
  0% { height:0px; }
  100% { height:520px; }
}

@keyframes pojawianie_sie{
    from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes znikanie{
    from { opacity: 1; }
  to { opacity: 0; }
}