#container{
    height: 900px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;

}

#haslo{
    height: 70px; /* 80px bez paddingu */
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 206, 147);
    text-align: center;
    padding-top: 10px;

}
#haslo h1{
    padding: 0px;
    margin: 0px;
    font-size: 300%;
    letter-spacing: 5px;
    font-family: 'Source Code Pro', monospace;

}

#wisielec{
    height: 520px;
    width: 40%;
    float: left;
    margin-left: 20%;
    background-color: rgb(243, 174, 89); /* kolor do zmiany na none rgb(243, 174, 89)*/

}

#wisielec img{
    float: left;

}

#odgadywanie{
    height: 520px; 
    width: 20%;
    float: left;
    background-color: rgb(230, 138, 26); /* kolor do zmiany na none*/
    text-align: center;

}

.zgadywanie{
    height: 50%;
    width: 100%;
    float: left;

}

#divPunkty{
    height: 100px;
    width: 100px;
    float: right;
    border: 1px solid rgb(112, 75, 30);
    border-radius: 0 0 20px 20px;
    text-align: center;
    font-size: 140%;
    font-weight: bolder;

}
