body{
    padding: 0;
    margin: 0;
    background: rgba(199,238,255,1);
}

#container{
    height: 900px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: rgb(122,195,143);
background: linear-gradient(180deg, rgba(122,195,143,1) 16%, rgba(199,238,255,1) 51%);

}

#haslo{
    height: 70px; /* 80px bez paddingu */
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #7ac38f;
    text-align: center;
    padding-top: 10px;

}
#haslo h1{
    padding: 0px;
    margin: 0px;
    font-size: 300%;
    letter-spacing: 5px;
    font-family: 'Source Code Pro', monospace;

}

#wisielec{
    height: 520px;
    width: 40%;
    float: left;
    margin-left: 20%;
    background: rgb(122,195,143);
background: linear-gradient(180deg, rgba(122,195,143,1) 30%, rgba(177,233,163,1) 62%); /* kolor do zmiany na none rgb(243, 174, 89)*/
    
}

#wisielec img{
    float: left;
    width: 70%;
    height: 520px;

}

#odgadywanie{
    height: 520px; 
    width: 20%;
    float: left;
    background: rgb(122,195,143);
background: linear-gradient(180deg, rgba(122,195,143,1) 30%, rgba(177,233,163,1) 62%); /* kolor do zmiany na none*/
    text-align: center;
    border-left: 2px solid rgb(112, 75, 30);

}

.zgadywanie{
    height: 50%;
    width: 100%;
    float: left;

}

.zgadywanie h1{
    margin-top: 20%;

}

#divPunkty{
    height: 100px;
    width: 100px;
    float: right;
    border-left: 2px solid rgb(112, 75, 30);
    border-bottom: 2px solid rgb(112, 75, 30);
    border-top: 2px solid rgb(112, 75, 30);
    border-radius: 20px 0 0 20px;
    text-align: center;
    font-size: 140%;
    font-weight: bolder;

}

#gra{
    position: relative;
}

#wynikik{
    position: absolute;
    background-color: #ffc60b;
    height: 100%;
    width: 99.9%;
    text-align: center;
    visibility: hidden;
    display: block;
    color: #feffdb;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;

}

#wynik_koncowy{
    font-size: 600%;
    padding: 0px;
    margin: 0px;
    letter-spacing: 5px;
    font-family: 'Source Code Pro', monospace;

}

#koncowa_liczba_punktow{
    font-size: larger;

}

/* Animacja */
.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
 } 
 
 @-webkit-keyframes fadeIn { 
     0% {opacity: 0;} 
     100% {opacity: 1;} 
 } 
 @keyframes fadeIn { 
     0% {opacity: 0;} 
     100% {opacity: 1;} 
 } 
 .fadeIn { 
     -webkit-animation-name: fadeIn; 
     animation-name: fadeIn; 
 }


 .stroke {
    font-size: 21px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0000;
    -webkit-text-fill-color: white;
    letter-spacing: 4px;
    font-family: Impact, Charcoal, sans-serif;
}

/* */

@keyframes wysuwanie{
  0% { height:0px; }
  100% { height:100%; }

}

@keyframes pojawianie_sie{
    from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zmiana_koloru_tla{
    0% { background-color: #7ac38f; }
    100% { background-color: #feffdb; }
  
  }